body{
	background: #34495e;
}

.container{
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
}

.images{
	width: 25%;
	display: inline-block;
	background: #ecf0f1;
	margin: 10px;
	padding-top: 10px;
}

h1 {
	color: #ecf0f1;
}

hr {
	margin-bottom: 100px;
}

img {
	width: 90%;
	border: solid #ecf0f1 5px;
}