body{
	background: #34495e;
	font-family: "Sans-serif", Times, serif;
}

.container{
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
}

.images{
	width: 20%;
	display: inline-block;
	background: #ecf0f1;
	margin: 10px;
	padding-top: 10px;
}

h1 {
	color: #ecf0f1;
}

hr {
	margin-bottom: 100px;
}

img {
	width: 90%;
	border: solid #ecf0f1 5px;
}

@media screen and (max-width: 600px){
	.images {
		width: 90%;
	}
}